<h1>Our Vehicle Inventory</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                MAKE 
                <select
                    name="singleSelect" ng-model="vm.filterData">
                    <option value="">-- Filter --</option>
                    <option value="Dodge">Dodge</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Subaru">Subaru</option>
                    <option value="Ford">Ford</option>
                </select>
            </th>
            <th>
                MODEL
            </th>
            <th>
                YEAR
            </th>
            <th class="input-group input-group-sm">
                <span class="input-group-addon glyphicon glyphicon-filter" title="filter by vm.filterData"></span>
                <input type="text" class="form-control" placeholder="Search by any MAKE MODEL or YEAR" ng-model-options="{ debounce: 100 }"
                    ng-model="vm.filterData">
            </th>
        </tr>


    </thead>
    <tbody>
        <tr ng-repeat="car in vm.carList | filter: { $: vm.filterData}">
            <td><h4>{{ car.make }}</td>
            <td><h4>{{ car.model }}</td>
            <td><h4>{{ car.year }}</td>

            <td>
                <!--View car details button-->
                <a class="btn btn-primary" ui-sref="CarDetail({ id: car.id })">
                    View
                </a>
            </td>
        </tr>
    </tbody>

</table>